<div class="loading" *ngIf="loading" >
    <img src="/Content/Image/spin.svg" />

</div>

<div *ngIf="showSuccess">
    <h4>Succsessio</h4>
</div>

<div class="col-lg-8 col-lg-offset-2 text-center" *ngIf="showForm" >
    <div class="call-to-action">
        <form [formGroup]="ApplyForm" (ngSubmit)="onSubmit()">

            <h4>Personlige Opplysninger</h4>
            <div class="form-group">
                <label for="userIdInput">Personnummer</label>
                <div class="inner-addon right-addon">
                    <span [hidden]="!ApplyForm.controls.userid.valid"><i class="fa fa-check" ></i></span>
                    <input id="userIdInput" class="form-control" required formControlName="userid"  />
                </div>
                <p class="alert alert-info" [hidden]="ApplyForm.controls.userid.valid || (ApplyForm.controls.userid.pristine && !submitted)">
                    Personnummer må være 11 siffer.
                </p>
            </div>

            <div class="form-group">
                <label for="emailInput">Epost</label>
                <div class="inner-addon right-addon">
                    <span [hidden]="!ApplyForm.controls.email.valid"><i class="fa fa-check"></i></span>
                    <input id="emailInput" class="form-control"  required formControlName="email" type="email" />
                </div>
                <p class="alert alert-info" [hidden]="ApplyForm.controls.email.valid || (ApplyForm.controls.email.pristine && !submitted)">
                    Gyldig email er obligatorisk.
                </p>
            </div>

            <div class="form-group">
                <label for="phoneInput">Mobilnummer</label>
                <div class="inner-addon right-addon">
                    <span [hidden]="!ApplyForm.controls.phone.valid"><i class="fa fa-check"></i></span>
                    <input id="phoneInput" class="form-control" required formControlName="phone" />
                </div>
                <p class="alert alert-info" [hidden]="ApplyForm.controls.phone.valid || (ApplyForm.controls.phone.pristine && !submitted)">
                    Telefonnr kan kun være 8-15 siffer
                </p>
            </div>


            <h4>Låneinformasjon</h4>

            
            <div class="form-group">
                <p>Lånebeløp</p>
                <input id="amount-slider" data-slider-id='ex1Slider' type="number" data-slider-min="5000" data-slider-max="100000" data-slider-step="5000" data-slider-value="50000" />
            </div>

            
                <p>Nedbetalingstid</p>
                <input id="month-slider"  data-slider-id='ex1Slider' type="number" data-slider-min="6" data-slider-max="36" data-slider-step="1" data-slider-value="18" />
           

            <h4>Lånekalkulator</h4>
            <p ><span id="borrowcalculator"></span><span id="borrow-info"></span></p>
           


            <div class="form-group">
                <button type="submit" [disabled]="!ApplyForm.valid" class="btn btn-primary regular-btn" >Neste</button>
            </div>

        </form>
    </div>
</div>


<div class="col-lg-8 col-lg-offset-2 text-faded"  *ngIf="showConfirmation">
    <div id="summary">
        <h3>Oppsumering</h3>
        <table class="table">
            <tbody>
                <tr>
                    <th>Personnummer</th>
                    <td>{{tempID}}</td>
                </tr>
                <tr>
                    <th>Epost</th>
                    <td>{{tempEmail}}</td>
               </tr>
                <tr>
                    <th>Telefonnr</th>
                    <td>{{tempPhone}}</td>
                </tr>
                <tr>
                    <th>Beløp</th>
                    <td>{{tempAmount}}kr</td>
                </tr>
                <tr>
                    <th>Nedbetalingstid</th>
                    <td>{{tempMonths}} måneder</td>
                </tr>
                <tr>
                    <th>Måntlig betaling</th>
                    <td>{{tempPay}} kr/mnd</td>
                </tr>
            </tbody>
        </table>
    </div>
      
    <button class="btn btn-default regular-btn " (click)="backToForm()">Tilbake</button>
    <button class="btn btn-default regular-btn" (click)="addApplication()">Send Søknad</button>
        
</div>

<div class="col-lg-8 col-lg-offset-2 text-faded" *ngIf="showExistingApplication">
    <div id="summary">
        <h3><i class="glyphicon glyphicon-exclamation-sign"></i> Søknad Eksisterer</h3>
        <p>En søknad ligger inne allerede for denne kunden. Du kan enten erstatte den eller beholde den gamle</p>
        <p>Gammle søknaded:</p>
        <table class="table">
            
            <tbody *ngFor="let a of existingApp" >
                <tr>
                    <th>Personnummer</th>
                    <td>{{a.userid}}</td>
                </tr>
                <tr>
                    <th>Epost</th>
                    <td>{{a.email}}</td>
                </tr>
                <tr>
                    <th>Telefonnr</th>
                    <td>{{a.phone}}</td>
                </tr>
                <tr>
                    <th>Beløp</th>
                    <td>{{a.amount}}kr</td>
                </tr>
                <tr>
                    <th>Nedbetalingstid</th>
                    <td>{{a.months}} mnd</td>
                </tr>
                <tr>
                    <th>Måntlig betaling</th>
                    <td>{{a.pay}} kr/mnd</td>
                </tr>
            </tbody>
        </table>
    </div>

    <button class="btn btn-default regular-btn " (click)="backToForm()">Avbryt</button>
    <button class="btn btn-default regular-btn" (click)="addApplication()">Erstatt</button>

</div>








<script type="text/javascript">
  
</script>
